body {
background-color: #f5f5dc;
}
img {
  border: 6px solid purple;
}
li {
  font-family: 'Indie Flower', cursive; color:#736AF6;
}
p {
  font-family: 'Lobster', cursive; color:#736AF6;

  }

h1 {
  font-family: 'Lobster', cursive; color:#736AF6;
}
h2 {
  font-family: 'Lobster', cursive; color:#736AF6;
}
a:hover {
    background-color: #736AF6;
}
.largelink
{
  font-size: 20pt;
}
