body {
background-color: #5D6D7E;
}
img {
  border-width: 6px; border-color:#E6B0AA; border-style: ridge;
}
p {
  font-family: 'Amita', cursive; color:#E6B0AA;

  }
a:link {
    color: #DAF7A6;
}
a:visited {
  color:#14A989;
}
a:hover {
    background-color: #E6B0AA;
}
a:active {
    color: #5D6D7E;
}
td {
    font-family: 'Amita', cursive; font-size: 25px; padding: 25px;
}
tr{
  padding:25px;
}
li {
  font-family: 'Amita', cursive; color:#E6B0AA;
}
h1 {
  font-family: 'Amita', cursive; color:#E6B0AA; font-size: 40px; border-style: ridge; border-width: 6px; border-color: #E6B0AA;
}
#mad{
  display:none;
}
