body {
background-color: #e6ffe6;
}
img {
  border: 6px solid purple;
}
p {
  font-family: 'Lobster', cursive; color:#FF7F50;

  }
a:hover {
    background-color: #FF7F50;
}
td {
    font-family: 'Lobster', cursive; color:#FF7F50;

}
li {
  font-family: 'Lobster', cursive; color:#FF7F50;
}
